<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232378872935-uqbpr0rk2krgknvklk4ria3vhf766s6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232378872935-uqbpr0rk2krgknvklk4ria3vhf766s6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDV1EzQQSA76Gkh3e_DSOcyiYzYsP1uj-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>232378872935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.droneSprayer</string>
	<key>PROJECT_ID</key>
	<string>sprayer-drone</string>
	<key>STORAGE_BUCKET</key>
	<string>sprayer-drone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232378872935:ios:4bf3e771a4da67789010c2</string>
</dict>
</plist>